{% extends 'base.html' %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<section class="panel form-panel">
    <div class="panel-title">
        <h3>{{ title }}</h3>
        <a class="btn ghost" href="{% url 'assets' %}">{{ tr.cancel }}</a>
    </div>
    <form method="post" class="asset-form">
        {% csrf_token %}
        {% for field in form %}
            <label>
                <span>{{ field.label }}</span>
                {{ field }}
                {% for error in field.errors %}<em class="field-error">{{ error }}</em>{% endfor %}
            </label>
        {% endfor %}
        <div class="form-actions">
            <button class="btn" type="submit">{{ tr.save }}</button>
            <a class="btn ghost" href="{% url 'assets' %}">{{ tr.cancel }}</a>
        </div>
    </form>
</section>
{% endblock %}
